<html>

<head>
    <title>Drive</title>
    <%- include("./partials/head.ejs") %>

</head>
<%- include("./partials/nav_spc.ejs") %>

<body>
    <h1 style="margin-left: 15rem;">Round List</h1>
    <br>
    <div class="container">
        <a href="/Round_detail/<%= drive_id %>" class="btn btn-primary">Add New Round</a>
        <table class="table">
            <tr>
                <th>Round Number</th>
                <th>Round Name</th>
                <th>List of Students in Round</th>
                <th>Registration Start Date</th>
                <th>Registration End Date</th>
                <th>Action</th>

            </tr>
            <% if(rounds.length!=0){ var i=1; rounds.forEach(function(data){ %>
                <tr>
                    <td>
                        <%= data.Round_no %>
                    </td>
                    <td>
                        <%=data.Round_name %>
                    </td>
                    <td>

                        <a href="/rounds/<%= data.drive_id %>/<%= data.Round_no %>" class="btn btn-outline-success">View List</a>
                            
                    </td>
                    
                    <td>
                        <%=data.Reg_start_date %>
                    </td>
                    <td>
                        <%= data.Reg_end_date %>
                    </td>
                    <td>
                        <a href="/delround/<%= data.drive_id %>/<%= data.Round_no %>" class="btn btn-danger">X</a>
                    </td>
                </tr>
                <% i++; }) %>
                    <% } else{ %>
                        <tr>
                            <td colspan="7">No Data Found</td>
                        </tr>
                        <% } %>


        </table>
    </div>
</body>

</html>